---
layout: default
permalink: /content-sites/projects/
---

<div class="overflow-scroll content">
  <header>
      <p><img class="content-header-image" alt="" src="/assets/images/headers/projects.jpg"></p>
  </header>
  <h3 style="text-align:left;margin-bottom: 5px;margin-top:10px;margin-left:30px;">Under construction.</h3>

  <div class="containerProj">
  {% for nav in site.data.site-info %}
    {% if nav.title == "Projects" %}
      {% for sub in nav.sublinks %}
        <div class="box">
          <h3 style="text-align:center;margin-bottom: 5px;margin-top:10px;">{{ sub.sub-title }}</h3>
          <hr style="width:75%;margin-top:2px" size="3" noshade="noshade" color="#0290a6">
          <div class="textBox">
            <p>{{ sub.description }}<br><a href="{{ sub.url }}"> More information here!</a></p>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  {% endfor %}
  </div>
</div>
