---
layout: default
permalink: /content-sites/talks/
---

<div class="overflow-scroll content">
    <header>
        <p><img class="content-header-image" alt="" src="/assets/images/headers/talks.jpg"></p>
    </header>

    <div class="content-text">
        {% for nav in site.data.site-info %}
            {% if nav.title == "Talks" %}
                {% for sub in nav.talk-list %}
                    <p>{{ sub.authors}}. {{ sub.date }}. {{ sub.talk-title }} <em>{{ sub.name }}</em>. {{ sub.location }}. [{{ sub.type }}]</p>
                {% endfor %}
            {% endif %}
      {% endfor %}
    </div>
</div>