<div class="sidebar">
  <p><img class="sidebar-photo" alt="" src="/assets/images/me-and-long-spruce_circle.jpg"></p>
  <h4 class="sidebar-title" style="text-align:center;margin-bottom: 0px;">Mimmi C. Eriksson</h4>
  <sidebar-hr></sidebar-hr>
  <h5 class="sidebar-text" style="text-align:center;margin-bottom: 5px;">
      {% for focus in site.data.side-bar_focus %}
          {{ focus.word }}.
      {% endfor %}
  </h5>
  <sidebar-hr></sidebar-hr>
  <h5 class="sidebar-text" style="text-align:center;margin-bottom: 5px;">
      <a href="/assets/pdfs/CV_2023-01.pdf" target="_blank">Download academic CV</a><br>
      <!-- <a href="" target="_blank">Download Non-Academic CV</a> -->
  </h5>
  <sidebar-hr></sidebar-hr>

  <div style="text-align:center ">
      {% for icon in site.data.side-bar_icons %}
      <a href="{{ icon.ref }}" target="_blank"><img class="sidebar-icons" src="{{ icon.src }}" alt="{{ icon.icon }}"></a>
      {% endfor %}
  </div>
</div>