<div class="sidebar">
    <p><img src="/assets/images/IMG_8969_circle.jpg"  width="100%" height="100%" alt="" class="image_center"></p>
    <h3 style="text-align:center;margin-bottom: 0px;">Mimmi C. Eriksson</h3>
    <hr size="2" noshade="noshade" color="#0290a6">
    <p style="text-align:left;margin-bottom: 15px;">
    {% for intre in site.data.interests %}
      {{ intre.word }}.
    {% endfor %}
    </p>
    <hr size="2" noshade="noshade" color="#0290a6">
    <p style="text-align:left;margin-bottom: 15px;">
      <a href="/assets/pdfs/CV_2021-08.pdf" target="_blank">Download academic CV</a><br>
      <a href="" target="_blank">Download Non-Academic CV</a>
    </p>
    <hr size="2" noshade="noshade" color="#0290a6">
    <table style="border:0;margin-left:auto;margin-right:auto;margin-top: 0px;">
      <tbody>
        <tr valign="middle">
          <td><a href="https://github.com/mc-er" target="_blank"><img src="/assets/images/logos/github.jpg" width="40" height="40" alt=""/></a></td>
          <td><a href="https://www.researchgate.net/profile/Mimmi-Eriksson-2" target="_blank"><img src="/assets/images/logos/researchgate.jpg" width="40" height="40" alt=""/></a></td>
          <td><a href="https://www.linkedin.com/in/mimmi-eriksson-7928a113a/" target="_blank"><img src="/assets/images/logos/linkedin.jpg" width="40" height="40" alt=""/></a></td>
          <td><a href="https://twitter.com/ceciliamimmi" target="_blank"><img src="/assets/images/logos/twitter.jpg" width="40" height="40" alt=""/></a></td>
          <td><a href="https://www.instagram.com/mimmi.cecilia/?hl=en" target="_blank"><img src="/assets/images/logos/instagram.jpg" width="40" height="40" alt=""/></a></td>
        </tr>
      </tbody>
    </table>
</div>
